.title-name {
    display: flex;
    justify-content: space-between;
}

.history-start-end {
    display: flex;
    justify-content: space-between;
}

.project {
    width: 70%;
    margin-left: 15%;
}

.description {
    width: 1052.43px;
    height: 230.76px;
    background: rgb(221, 221, 226);
    border-radius: 16px;
    border-color: #0c5df3;
    border-style: solid;
    justify-content: center;
    display: flex;
    align-items: center;
}

.desc-p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    
    color: #000000;
}